<h3>Welcome to Umilabel!</h3>
<% unless current_user %>
  <%= link_to 'Login', new_user_session_path %><br>
  <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>

<br><br><% if current_user %>
  <% current_user.subscribed_tos.each do |subs| %>
    <% User.find(subs.subscribed_to_id).owned_campaigns.each do |camp| %>
    <%= link_to campaign_path(camp) do %>
      <div>
        <%= camp.title %>
        <%= image_tag(camp.album_cover.url(:medium)) %>
        <%= image_tag camp.avatar.url(:thumb) %>
        <%= User.find(camp.owner_id).studio_name %>
      </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
