<% if @user.id == session[:user_id] %>
  <h2>WELCOME TO YOUR PROFILE!</h2>
  <%= link_to 'Setup/edit profile', new_profile_path %><br>
<% end %>

<%= image_tag @user.avatar.url(:thumb) %><br>
<%= image_tag @user.background_image.url(:thumb) %><br>
<%= @user.description %><br>
<%= @user.tags %><br>
<%= @user.founded_in %><br>
<%= @user.studio_name %><br>

<% if session[:user_id] != @user.id %>
  <div class="subscription_data" data-subscribee-id= '<%= session[:user_id] %>' data-subscribed-to-id= '<%= @user.id %>'>
    <button class="subscribe">SUBSCRIBE</button>
  </div>
<% end %>
