<% if @user.id == session[:user_id] %>
  <h2>WELCOME TO YOUR PROFILE!</h2>
  <%= link_to 'Edit profile', edit_user_path %><br>
  <%= link_to "Start a Campaign", new_campaign_path %>
  <h4>Remember to check you Inbox regularly</h4>
<% end %>

<%= image_tag @user.avatar.url(:thumb) %><br>
<%= image_tag @user.background_image.url(:thumb) %><br>
<%= @user.description %><br><br>

<% if @user.tags %>
  <% (User.split_tags(@user.tags)).each do |tag| %>
    <div class="user-tag">
      <%= tag %>
    </div>
  <% end %>
<% end %><br>

<%= @user.founded_in %><br><br>

Portfolio:<% @user.pledges.each do |pledge| %>
            <%= link_to campaign_path(pledge.reward.campaign) do %>
              <%= pledge.reward.campaign.title %> (owns <%= pledge.percentage_pledged %>%)<br>
            <% end %>
          <% end %>

<% if session[:user_id] != @user.id %>
  <div class="subscription_data" data-subscribee-id= '<%= session[:user_id] %>' data-subscribed-to-id= '<%= @user.id %>'>
    <% if Subscription.where(subscribee_id: current_user.id).where(subscribed_to_id: @user.id).empty? %>
    <button class="subscribe">SUBSCRIBE</button>
    <% else %>
    <button class="subscribe">SUBSCRIBED!</button>
    <% end %>
  </div>
  <%= link_to "message #{@user.studio_name}", new_personal_message_path(receiver_id: @user.id) %>
  <%= link_to "My Profile", user_path(session[:user_id]) %>
<% end %>

<% if @user.owned_campaigns.any? %>
  <h2> <%= @user.full_name %>'s Campaigns </h2>
  <% @user.owned_campaigns.each do |campaign| %>
    <%= link_to "#{campaign.title}", campaign_url(campaign.id) %><br>
  <% end %>
<% end %>
