<%= form_for @campaign do |f| %>
  <span class="camp-id"><% @campaign.id %></span>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br>

  <%= f.label :Price_per_share %>
  <%= f.number_field :share_price, :step => 0.5 %><br>

  <%= f.label :Total_number_of_shares_available %>
  <%= f.number_field :total_shares_num, :step => 0.5 %><br>

  <%= f.label :Shares_for_Yourself%> (%)
  <%= f.number_field :owner_shares, :step => 0.5  %><br>

  <%= f.label :Purchasable_Share_percentage %>
  <%= f.number_field :purchasable_shares, :step => 0.5, class: 'purchasable-shares'  %><br>

  <%= f.label :Upload_an_avatar %>
  <%= f.file_field :avatar %><br>

  <%= f.label :Upload_a_background_image %>
  <%= f.file_field :background_image%><br>

  <%= f.label :Upload_an_album_cover %>
  <%= f.file_field :album_cover%><br>

  <%= f.label :Add_a_video %>
  <%= f.text_field :video_link, placeholder: "Add a url"%><br>

  <h2>Royalty Shares</h2>
  <h3> Disclaimer </h3>
  <p>8% offering cost goes to Umilabel directly. You can offer only up to 92% of shares. If you are not offering all remaining shares, kindly include those as <b>'not-offered'</b> with the correct value.</p>
<div id="rewards">
  <%= f.fields_for :rewards do |r| %>
    <%= render 'reward_fields', f: r %>
  <% end %>
</div>
<div class="links">
  <%= link_to_add_association 'add Royalty Share option', f, :rewards, partial: 'reward_fields' %><br>
</div>
  <%= f.label :Upload_legal_document_1 %>
  <%= f.file_field :document_1 %><br>

  <%= f.label :Upload_legal_document_2 %>
  <%= f.file_field :document_2 %><br>

  <%= f.label :Upload_legal_document_3 %>
  <%= f.file_field :document_3 %><br>

    <%= f.submit 'Save Campaign', class: 'save-campaign' %>
<% end %>
