<br><br>
<div>
<% if @campaigns.blank? %>
  <h4>There are no campaigns matching your search query '<%= params[:search] %>'.</h4>
<% else %>
  <% @campaigns.each do |campaign| %>
    <div>
      <%= link_to "#{campaign.title}", campaign_path(campaign) %>
    </div>
  <% end %>
<% end %>

<% if @users.blank? %>
  <h4>There are no users matching your search query '<%= params[:search] %>'.</h4>
<% else %>
  <% @users.map do |user| %>
    <%= link_to user_path(user.id) do %>
    <div>
      <%= user.full_name  %> | <%= user.studio_name %>
    </div>
  <% end %>
 <% end %>
<% end %>
</div>
