<div class="left-half">
  <div class="title-img-container">
    <div class="campaigner-img-sml"><%= image_tag(@campaign.avatar.url(:thumb), height: '65', width: '65') %>
    </div>

    <div class="campaign-notification">
      <h2> <span class="campaign-studio-name"><%= (User.find(@campaign.owner.id)).studio_name %></span> just released an IPO for the <span class="campaign-title"><%= @campaign.title %> </span> album </h2>
    </div>
  </div>
  <span class="campaign-album-image"><%= image_tag(@campaign.album_cover.url) %></span>
  <div class="ipo-now-avail"> <b>IPO now available for <%= User.find(@campaign.owner.id).studio_name %>'s upcoming album "<%= @campaign.title %>"</b>
  </div>
</div>

<div class="right-half">
  <div class="campaign-top-half">
    <div class="campaign-background">
      <%= image_tag @campaign.background_image.url(:medium) %>
    </div>

    <div class="campaigner-avatar">
      <%= image_tag @campaign.avatar.url(:thumb) %>
    </div>
  </div>

    <div class="campaign-title">
      <h3><%= @campaign.title %> ALBUM </h3>
    </div>

    <div class="campaign-desc">
      <%= @campaign.description %>
    </div>

    <% if current_user.id == @campaign.owner_id  %>
      <%= link_to 'Edit Campaign', edit_campaign_path(@campaign) %>
    <% end %>

  <div class="messager"> Messenger
    <span class="close-chat">X</span>
    <span class="chat-content"></span>
  </div>

  <div class="royalty-initial">
    <h2> Royalty Shares initial release </h2>
    <div class="rewards-offering">
    <% @campaign.rewards.each do |reward| %>
      <div class="reward" data-reward-id="<%= reward.id%>" data-campaign-id="<%= @campaign.id %>">
        <%= reward.client %> : <%= reward.percentage %>%
        <% if current_user.id == @campaign.owner_id %>
          <% if !(reward.client.include?('Myself') || reward.client.include?('myself') || reward.client.include?('investor') || reward.client.include?('Investor') || reward.client.include?('not-offered') || reward.client.include?('Not-offered'))%>
          <button class="allocate user_is_campaigner"> Allocate </button>
          <% end %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

  <div class="allocation">
    <h2>Allocate shares</h2>
    <%= form_tag campaign_path(@campaign) do %>
    <span class="pledge-search"><%= text_field_tag :search, params[:search], placeholder: "Search users or campaigns" %></span>
    <span class="pledge-search-submit"><%= submit_tag "Search", :name => nil %></span>
    <div class="pledge-search-results"></div><br>
    <%= form_tag campaign_path(@campaign) do %>
    <%= label_tag(:name, "Name") %>
    <input class="allocate-name" name="person[name]" type="text"/>
    Percentage <input id="allocate-percentage" min="0.0" name="pledge[percentage]" step="0.5" type="number" />
    <span class="submit-shares"><%= submit_tag "Send shares", :name => nil %></span>
    <% end %>
    <% end %>
  </div>

  <br><div class="buy-trade">
    Buy shares/trade skills for shares<br>
    Price per share: <span class="share-price"><%= @campaign.share_price %></span>
  </div>


  <div class="current-shares-container">
    <%= render 'piechart' %>
    <% if @campaign.owner_id != current_user.id %>
    <div class="pledge-convo" data-receiver-id = "<%= @campaign.owner_id %>">
      <%= link_to "Send a message to #{(User.find(@campaign.owner_id).studio_name)}", new_personal_message_path(receiver_id: @campaign.owner_id) %><br>
    </div>
    <% end %>
  </div>


  <div class="video-container">
    <% if @campaign.video_link != "" %>
    <%= raw(Campaign.youtube_embed(@campaign.video_link)) %>
    <% end %>
  </div>

  <div class="legal-docs-container">
    <h3> Legal Documents <h3>
    <div class="docs">

      <% if @campaign.document_1.exists? %>
          <%= link_to @campaign.document_1.url  do%>
         <div><i class="fa fa-file-text" aria-hidden="true"></i> <span> Legal Document 1 </span> </div>
        <% end %>
      <% end %>

      <% if @campaign.document_2.exists? %>
          <%= link_to @campaign.document_2.url  do%>
         <div><i class="fa fa-file-text" aria-hidden="true"></i> <span> Legal Document 2 </span> </div>
        <% end %>
      <% end %>

      <% if @campaign.document_3.exists? %>
          <%= link_to @campaign.document_3.url  do%>
         <div><i class="fa fa-file-text" aria-hidden="true"></i> <span> Legal Document 3 </span> </div>
        <% end %>
      <% end %>

      <% if !(@campaign.document_1.exists? && @campaign.document_2.exists? && @campaign.document_3.exists?) %>
        <% if current_user.id == @campaign.owner_id %>
          <h5> Please provide the necessary legal documents before the campaign can be made live. Thank you</h5>
        <% else %>
          <h5> Legal documents not yet provided </h5>
        <% end %>
      <% end %>

    </div>
  </div>

</div>
