<!DOCTYPE html>
<html>
  <head>
    <title>Umilabel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css"> -->
  </head>


  <body>
    <% if session[:user_id] %>

      <div id="current-user"></div>

      <div class="mainlogo">
        <%= link_to root_path do %>
          <%= image_tag "umilabel2.png" %>
        <% end %>
      </div>

      <div class="navbar-right">
        <%= link_to user_path(session[:user_id]) do %>
          <span class="my-profile"><i class="fa fa-user fa-2x" aria-hidden="true"></i></span>
        <% end %>

        <%= link_to conversations_path do %>
          <span class="inbox"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></span>
        <% end %>

        <%= link_to root_path do %>
          <span class="home"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></span>
        <% end %>

        <%= form_tag(campaigns_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search] %>
          <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>

    <% if flash[:notice] %>
        <p id="notice"><%= flash.now[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p id="alert"><%= flash.now[:alert] %></p>
      <% end %>

    <%= yield %>

    <% if current_user %>
      Signed in as <%= current_user.studio_name %> | <%= link_to "Logout", session_path('current'), method: :delete %>
    <% else %>
      <%= link_to 'Login', new_session_path %> | <%= link_to 'Signup', new_user_path %>
    <% end %>

    <br><br>
  </body>
</html>
